<!DOCTYPE html>
<html>
<head>
<meta charset=
>
<title>The Quality</title>
</head>
<body>
    <center style="background-color: rgb(217, 224, 213);">
    <h1 style="padding-top: 10%; font-size: 1cm; "> Your Wine Quality is Checked Successfull </h1>

    
    <h1  style="padding-bottom: 4%;">The rating of Your Wine is : {{n}}</h1>
    </center>
    <center>
    <h2 style="padding-top: 10%;">The features of Your Wine is: {{df}}</h2>
    <!-- <p>The features of Your Wine is: {{df}}</p> -->
</center>
</body>
</html>